<div class="container">
  <h4>Sign in</h4>
  <nav class="navbar bg- white">
    <div>
      <form action="/signin/auth" method="post" class="container-colum">
        <div class="d-flex m-3">
          <input style="margin: 10;" type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" name="username" />
        </div>
        <div class="d-flex m-3">
          <input style="margin: 10;" type="password" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" name="password" />
        </div>
        <div class="container m-3"> <a href="/signin/forgotpass">Forgot password</a></div>

        <div style="margin: 10;" class="d-grid gap-2 m-3">
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
        <div class="text-center"> --Or--</div>
        <div style="margin: 10;" class="d-grid gap-2 m-3">
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
      </form>
      <div id="status">
      </div>

  </nav>
</div>
<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function (response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function () {
    FB.init({
      appId: '{app-id}',
      cookie: true,                     // Enable cookies to allow the server to access the session.
      xfbml: true,                     // Parse social plugins on this webpage.
      version: '{api-version}'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };

  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function (response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/es_UK/sdk.js#xfbml=1&version=v16.0&appId=169829905871755&autoLogAppEvents=1"
  nonce="1GYStEuc"></script>