<h1>Create Food</h1>
<nav class="navbar bg- rgba(73, 73, 73, 0.993)">
  <form action="/food/create" method="post" enctype="multipart/form-data" class="container-colum">
    <div class="d-flex m-3">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="name"
        aria-label="name"
        aria-describedby="basic-addon1"
        name="name"
      />
    </div>
    <div class="d-flex m-3">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="description"
        aria-label="description"
        aria-describedby="basic-addon1"
        name="description"
      />
    </div>
    <div class="d-flex m-3">
      <select class="form-select" name="idCategory" id="category"> 
        <optgroup >
      <option  value="641033f8399ccfdb5c5c8493">Fruits</option>
      <option value="641035de399ccfdb5c5c8494">Vegtables</option>
      <option value="64219468f6ae4300025848cd">	Meat</option>
      <option value="64219489f6ae4300025848d0">Fish</option>
      <option value="6421949cf6ae4300025848d2">Cake</option>
      <option value="642195a7f6ae4300025848da">Ice cream</option>
      <option value="642195e3f6ae4300025848dd">Juice</option>
    </optgroup>
      </select>
    </div>
       <div class="d-flex m-3">
      <input
        style="margin: 10;"
        type="file"
        class="form-control"
        placeholder="img"
        aria-label="img"
        name="img"
      />
    </div>
       <div class="d-flex m-3">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="cost"
        aria-label="cost"
        aria-describedby="basic-addon1"
        name="cost"
      />
    </div>
     <div class="d-flex m-3">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="inventory"
        aria-label="inventory"
        aria-describedby="basic-addon1"
        name="inventory"
      />
    </div>
    <div style="margin: 10;" class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</nav>