<div class="container ">
  <table class="table">
    <label style="color: black;font-size: larger; font-weight: 400;">
      Categories
    </label>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each Category}}
      <tr>
        <th scope="rows">{{@index}}</th>
        <td>{{this.name}}</td>
        <td><a style="text-decoration: none;" href="/user/{{this._id}}"><button type="submit" class="btn btn-dark">Edit</button>
          </a>
          <a style="text-decoration: none;" href="/user/{{this._id}}"><button type="submit" class="btn btn-danger" id="btnDelete">Delete</button>
          </a>          
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>