<table class="table">
  <thead>
    <tr>
      <th style="color: white;" scope="col">#</th>
      <th style="color: white;" scope="col">Name</th>
      <th style="color: white;" scope="col">Edit</th>
      <th style="color: white;" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each User}}
      <tr>
        <th style="color: white;" scope="rows">{{@index}}</th>
        <td style="color: white;" >{{this.username}}</td>
        <td><a href="/user/{{this.username}}"><button
              type="submit"
              class="btn btn-dark"
            >Edit</button>
          </a></td>
        <td>
          <a href="/user/{{this.username}}"><button
              type="submit"
              class="btn btn-danger"
              id="btnDelete"
            >Delete</button>
          </a></td>
      </tr>
    {{/each}}
  </tbody>
</table>