<div style="margin: 20px;" class="container">
  <div class="card" >
    <div class="list-group">
       <p class="text-center">User list</p>
      {{#each User}}
        <div class="d-flex">
          <a class="list-group-item list-group-item-action">{{this.username}}</a>
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      {{/each}}
    </div>
  </div>
</div>