<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each User}}
      <tr>
        <th scope="rows">{{@index}}</th>
        <td>{{this.username}}</td>
        <td><a href="/user/{{this.username}}"><button
              type="submit"
              class="btn btn-outline-primary"
            >Edit</button>
          </a></td>
         <td> <a href="/user/{{this.username}}"><button
              type="submit"
              class="btn btn-outline-primary"
            >Delete</button>
          </a></td>
      </tr>
    {{/each}}
  </tbody>
</table>