<h1>Sign up</h1>
<nav class="navbar bg-body-tertiary">
  <form action="/signup/auth" method="post" class="container-colum">
    <div class="d-flex">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        name="username"
      />
    </div>
    <div class="d-flex">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon1"
        name="password"
      />
    </div>
    <div class="d-flex">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="basic-addon1"
        name="Phone"
      />
    </div>
       <div class="d-flex">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Card"
        aria-label="Card"
        aria-describedby="basic-addon1"
        name="Card"
      />
    </div>
       <div class="d-flex">
      <input
        style="margin: 10;"
        type="text"
        class="form-control"
        placeholder="Address"
        aria-label="Address"
        aria-describedby="basic-addon1"
        name="Address"
      />
    </div>
    <div style="margin: 10;" class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  </form>
</nav>